<html>

<head>
    <!-- {% partial 'site/meta' %} -->
     {% partial 'site/head' %}




</head>

<body>

    <div>

        <!-- navigation -->
        <div id="layout-navigation">
            {% partial 'site/navigation' %}
        </div>
        <!-- Header -->
        <div id="layout-header">
            {% partial 'site/header' %}
        </div>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>


        <hr>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
    </div>

    <!-- Scripts -->
    {% partial 'site/scripts' %}
</body>

</html>