
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{this.page.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ ['assets/vendor/bootstrap/css/bootstrap.min.css']|theme }}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="{{ ['assets/vendor/fontawesome-free/css/all.min.css']|theme }}" rel="stylesheet" type="text/css">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ ['assets/css/clean-blog.min.css']|theme }}" rel="stylesheet">
