title = "Blog Category"
url = "/blog/category/:slug/:page?"
layout = "default"
description = "Viewing blog posts in a specific category."
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[resources]
less[] = "pages/blog.less"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="category-title">
    <h1>Category: {{ category.name }}</h1>
</div>

<div class="blog-posts">
    {% partial 'blog/posts' %}
</div>